@model IEnumerable<TursArg.Models.Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Usuario", "registrarUsuario")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urlFotoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rolAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urlFotoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rolAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
